.gallery-lg{
    position: relative !important;
}
  
.gallery-lg:after {
    content: "" !important;
    display: block !important;
    padding-bottom: 100% !important;
}

.gallery-lg img {
    position: absolute !important;
    height: 100% !important;
    object-fit: cover !important;
  }

.footerColor {
    background-color: #e9ba9a;
    display: block;
}

.fontStyle{
    font-family: 'Open Sans',
    sans-serif;
}

.tan {
    background-color: #e9ba9a;
}
.pad {
    padding: 10px !important;
}
.no-marg {
    margin: 0 !important;
}

