            <div class="col s3">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="{{thumbnail}}">
                    </div>
                </div>
            </div>