<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stolen Canvas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../../css/style.css" />
  <link rel="icon" type="image/png" href="../../assests/Images/Logo.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="navbar-fixed">
    <nav class="z-depth-0" id="navbar">
      <div class="nav-wrapper white">
        <img href="#" class="responsive-img brand-logo left" src="../../assests/Images/tempLogo.png" width="150" id="logo"
          alt="Logo"></img>
        <a class="dropdown-trigger" href="#" data-target="dropdown1">
          <i class="material-icons right black-text hide-on-large-only">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a class="black-text">Gallery</a></li>
          <li><a class="black-text">Founder's Collection</a></li>
          <li><a class="black-text">Our Story</a></li>
          <li><a class="black-text">My Account</a></li>
          <li><a class="black-text">Cart</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul id="dropdown1" class="dropdown-content right">
    <li><a class="black-text">Gallery</a></li>
    <li><a class="black-text">Founder's Collection</a></li>
    <li><a class="black-text">Our Story</a></li>
    <li><a class="black-text">My Account</a></li>
    <li><a class="black-text">Cart</a></li>
  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../script.js"></script>
</body>

</html>