<div class="row container">
    <!--Collection-->
    <div class="col s12 l8 push-l2 card z-depth-0">
        <div class="card-title h3"> Collection</div>
        <div class="card col s12 tan">
            {{#unless collection}}
            <p>You have no items in your collection.</p>
            {{/unless}}
            {{#each collection as |Product|}}
            {{>thumbnail}}
            {{/each}}
        </div>
    
        <div class="col s12 card z-depth-0 hide-on-med-and-down">
            <p class="fs-xl">Order History</p>
            {{!--<p>Item</p>
        <p>Item</p>
        <p>Item</p>--}}
        </div>
    </div>
    
    <div class="col s8 card z-depth-0 hide-on-large-only">
        <p class="fs-xl">Order History</p>
        {{!--<p>Item</p>
        <p>Item</p>
        <p>Item</p>--}}
    </div>
        
    <!--User Side-->
    <div class="col l3 s4 push-l3 card">
        <div class="card-image">
            <img src="/Images/Logo.png">
        </div>
        <div class="card-content center-text">
            <p class="fs-xl">{{{userData.email}}}</p>

            <p>${{{userData.balance}}}</p>


            <p>Order History</p>
        </div>
        <a id="logout" class="black-text">
            <h4 class="center-text pad tan">Logout</h4>
        </a>
    </div>

</div>
<script src="/js/logout.js"></script>