<div class="container">
    <div class="col s12">
        <div class="card">
            <div class="card-image"><img class="materialboxed" src="{{{thumbnail}}}"></div>
            <div class="card-content">
                <h3>{{{title}}}</h3>
                <p>{{{content}}}</p>
            </div>
            <div class="card-action">
                <a id="cartButton" class="blue-text" href="#" data-id="{{{product_id}}}">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/cart.js"></script>
