<div class="container row">
    <div class="col s12 m8">
        {{#each cartProducts as |product|}}
        {{>cartCard}}
        {{/each}}
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <h5>Titles In Cart</h5>
                {{#each cartProducts as |product|}}
                <p>{{{this.title}}}</p>
                {{/each}}
                <p class="right">Total: ${{calculateTotal cartProducts}}</p>
            </div>
        </div>
        <button id="checkoutButton" class="waves-effect waves-light black-text center-text tan col s12 pad no-marg">Checkout</button>
    </div>
</div>
<script src="/js/cart.js"></script>