<div class="container row">
    <!-- Large Screens -->
    <div class="row hide-on-small-only">
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-image"><img src="/Images/Puddle_Wuttle.png"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Crow Sauce</h3>
                        <h5>Puddle Wuttle</h5>
                        <p>bird look at reflection. it wonder  meaning of life. why tax.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Stranded Helix</h3>
                        <h5>No Front Flip</h5>
                        <p>A common misconception about newer planes is that there is a wheel in the back.</p>
                    </div>
                </div>
                <div class="card-image"><img src="/Images/No_Front_Flip_Big.png"></div>
            </div>
        </div>
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-image"><img src="/Images/Sad_Times.jpeg"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Mythz</h3>
                        <h5>Sad Times</h5>
                        <p>>be a frog <br>>be green <br>>be alive <br>>Sad times for a green frog</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Chance Vaughn</h3>
                        <h5>Sisyphean</h5>
                        <p>Chasing Perfection.</p>
                    </div>
                </div>
                <div class="card-image"><img src="/Images/Sisyphean.png"></div>
            </div>
        </div>
    </div>
    <!-- Small Screens -->
    <div class="row hide-on-med-and-up">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/Puddle_Wuttle.png"></div>
                <div class="card-stacked">
                    <div class="card-content center-text">
                        <h3>Crow Sauce</h3>
                        <h5>Puddle Wuttle</h5>
                        <p>bird look at reflection. it wonder  meaning of life. why tax.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/No_Front_Flip_Big.png"></div>
                <div class="card-stacked">
                    <div class="card-content center-text">
                        <h3>Stranded Helix</h3>
                        <h5>No Front Flip</h5>
                        <p>A common misconception about newer planes is that there is a wheel in the back.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/Sad_Times.jpeg"></div>
                <div class="card-stacked">
                    <div class="card-content center-text">
                        <h3>Mythz</h3>
                        <h5>Sad Times</h5>
                        <p>>be a frog <br>>be green <br>>be alive <br>>Sad times for a green frog</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/Sisyphean.png"></div>
                <div class="card-stacked">
                    <div class="card-content center-text">
                        <h3>Chance Vaughn</h3>
                        <h5>Sisyphean</h5>
                        <p>Chasing Perfection.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>