<div class="container row">
    <div class="col s12">
        <div class="card horizontal z-depth-0">
            <div class="card-image"><img src="/Images/Puddle_Wuttle.png"></div>
            <div class="card-stacked">
                <div class="card-content">
                    <h3>Crow Sauce</h3>
                    <h5>Puddle Wuttle</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                        laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                        efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                        Vestibulum rhoncus cursus magna ut tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card horizontal z-depth-0">
            <div class="card-stacked">
                <div class="card-content">
                    <h3>Stranded Helix</h3>
                    <h5>No Front Flip</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                        laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                        efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                        Vestibulum rhoncus cursus magna ut tincidunt.</p>
                </div>
            </div>
            <div class="card-image"><img src="/Images/No_Front_Flip_Big.png"></div>
        </div>
    </div>
    <div class="col s12">
        <div class="card horizontal z-depth-0">
            <div class="card-image"><img src="/Images/Sad_Times.jpeg"></div>
            <div class="card-stacked">
                <div class="card-content">
                    <h3>Mythz</h3>
                    <h5>Sad Times</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                        laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                        efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                        Vestibulum rhoncus cursus magna ut tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card horizontal z-depth-0">
            <div class="card-stacked">
                <div class="card-content">
                    <h3>Chance Vaughn</h3>
                    <h5>Sisyphean</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                        laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                        efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                        Vestibulum rhoncus cursus magna ut tincidunt.</p>
                </div>
            </div>
            <div class="card-image"><img src="/Images/Sisyphean.png"></div>
        </div>
    </div>
</div>