<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stolen Canvas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/png" href="../assests/Images/logo.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="z-depth-0" id="navbar">
            <div class="nav-wrapper white">
                <a href="homepage.html">
                    <img href="#" class="responsive-img brand-logo" src="../assests/Images/tempLogo.png"
                        width="150" id="logo" alt="Logo">
                    </img>
                </a>
                <a class="dropdown-trigger" href="#" data-target="dropdown1">
                    <i class="material-icons black-text hide-on-large-only">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><u class="black-text">Gallery</u></li>
                    <li><a class="black-text" href="founder's-collection.html">Founder's Collection</a></li>
                    <li><a class="black-text">Our Story</a></li>
                    <li><a class="black-text">My Account</a></li>
                    <li><a class="black-text">Cart</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <ul id="dropdown1" class="dropdown-content right">
        <li><a class="black-text">Gallery</a></li>
        <li><a class="black-text" href="founder's-collection.html">Founder's Collection</a></li>
        <li><a class="black-text">Our Story</a></li>
        <li><a class="black-text">My Account</a></li>
        <li><a class="black-text">Cart</a></li>
    </ul>

    <div>
        <!-- Large Screens -->
        <div class="row hide-on-small-only">
            <div class="col s3">
                <table class="table table-bordered table-hover bg-white text-secondary" id='searched-table'>
                    <tbody>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                        <tr>
                            <td class="hoverable">*Recent Search*</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s9">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/Puddle_Wuttle.png">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/Sad_Times.jpeg">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/Sisyphean.png">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/No_Front_Flip_Big.png">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/Puddle_Wuttle.png">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/Sad_Times.jpeg">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/Sisyphean.png">
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image gallery-lg hoverable">
                            <img src="../assests/Images/No_Front_Flip_Big.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide-on-med-and-up container">
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/Puddle_Wuttle.png">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/Sad_Times.jpeg">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/Sisyphean.png">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/No_Front_Flip_Big.png">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/Puddle_Wuttle.png">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/Sad_Times.jpeg">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/Sisyphean.png">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="../assests/Images/No_Front_Flip_Big.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footerColor">
        <div class="footer-copyright">
            <div class="container center-align fontStyle">&copy; 2021 Stolen Canvas</div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="script.js"></script>
</body>

</html>