<div>
    <!-- Large Screens -->
    <div class="row hide-on-small-only">
        <div class="col s3">
            <table class="table table-bordered table-hover bg-white text-secondary" id='searched-table'>
                <tbody>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s9">
            {{#each products as |product|}}
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <a href="art/{{{product_id}}}">
                            <img src="{{{ thumbnail }}}">
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
    <div class="row hide-on-med-and-up container">
        {{#each products as |product|}}
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <a href="art/{{{product_id}}}">
                        <img src="{{{ thumbnail }}}">
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>