<div>
    <!-- Large Screens -->
    <div class="row hide-on-small-only">
        <div class="col s3">
            <table class="table table-bordered table-hover bg-white text-secondary" id='searched-table'>
                <tbody>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                    <tr>
                        <td class="hoverable">*Recent Search*</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s9">
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/Puddle_Wuttle.png">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/Sad_Times.jpeg">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/Sisyphean.png">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/No_Front_Flip_Big.png">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/Puddle_Wuttle.png">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/Sad_Times.jpeg">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/Sisyphean.png">
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image gallery-lg hoverable">
                        <img src="/Images/No_Front_Flip_Big.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hide-on-med-and-up container">
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/Puddle_Wuttle.png">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/Sad_Times.jpeg">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/Images/Sisyphean.png">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/No_Front_Flip_Big.png">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/Puddle_Wuttle.png">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/Sad_Times.jpeg">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/Sisyphean.png">
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-image gallery-lg hoverable">
                    <img src="/Images/No_Front_Flip_Big.png">
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> NW-webpageChanges
