<div class="container">
    <!-- Large Screens -->
    <div class="row hide-on-small-only">
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-image"><img src="/Images/Puddle_Wuttle.png"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Puddle Wuttle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>No Front Flip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
                <div class="card-image"><img src="/Images/No_Front_Flip_Big.png"></div>
            </div>
        </div>
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-image"><img src="/Images/Sad_Times.jpeg"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Sad Times</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Sisyphean</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
                <div class="card-image"><img src="/Images/Sisyphean.png"></div>
            </div>
        </div>
    </div>
    <!-- Small Screens -->
    <div class="row hide-on-med-and-up">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/Puddle_Wuttle.png"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Puddle Wuttle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/No_Front_Flip_Big.png"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>No Front Flip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/Sad_Times.jpeg"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Sad Times</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-image"><img src="/Images/Sisyphean.png"></div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>No Front Flip</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem dui, facilisis quis
                            laoreet eget, congue at sapien. Phasellus erat magna, laoreet fermentum aliquet ut,
                            efficitur at metus. Cras nunc ex, condimentum vitae molestie ut, tincidunt et tortor.
                            Vestibulum rhoncus cursus magna ut tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footerColor">
    <div class="footer-copyright">
        <div class="container center-align fontStyle">&copy; 2021 Stolen Canvas</div>
    </div>
</footer>