<div class="responsiv">
    <img class="left-img materialboxed hoverable"
        src="https://ids.si.edu/ids/deliveryService?max_w=800&id=SAAM-1994.120_1">
    <div class="right-text">
        <h3>The Headless Horseman Pursuing Ichabod Crane</h3>
        <p>
            Washington Irving's "The Legend of Sleepy Hollow" inspired Quidor to paint the climactic
            moment from this famous tale. Ichabod Crane is a prickly and stuck-up schoolmaster and a
            bumbling suitor for the lovely Katrina, who uses him to make her beau jealous. The
            pompous twit is no match for the clever locals, and he disappears, chased away by the
            headless horseman through a darkened wood. Irving's educated nitwit, strapping local boy
            and flirtatious beauty would reappear as folk characters throughout American literature
            in the nineteenth century.Exhibition Label, Smithsonian American Art Museum, 2006
        </p>

    </div>
</div>
<div class="responsiv">
    <img class="right-img materialboxed hoverable"
        src="https://ids.si.edu/ids/deliveryService?max_w=800&id=SAAM-1929.6.62_2">
    <div class="left-text">
        <h3>The South Ledges, Appledore</h3>
        <p>
            Hassam spent many summers on Appledore Island off the coast of Maine. Every year, he and a circle of
            musicians, writers and other artists made an informal colony based at the home of his friend, the poet Celia
            Thaxter. In Thaxter's gardens and on the rocky beaches, Hassam used the flickering brushwork and brilliant
            colors he had adopted in France to capture the spangled light of Appledore's brief summer. This painting
            evokes the leisurely, seasonal rhythms of America's priveleged families in the last years before the Great
            War. A beautifully dressed woman shields her face from the sun; she looks down and away, as if absorbed in
            the song of a sandpiper, the island bird that inspired Celia Thaxter's most famous children's poem.
        </p>

    </div>
</div>
<div class="responsiv">
    <img class="left-img materialboxed hoverable"
        src="https://ids.si.edu/ids/deliveryService?max_w=800&id=CHSDM-D181042FA4922-000001">
    <div class="right-text">
        <h3>Nature Mort</h3>
        <p>
            Vertical rectangle. Cubistic composition sohwing a banjo and other objects on a table. Number 24 of a
            limited edition of 99, hand-printed by George Lockwood from the original woodblock designed by Picasso and
            cut by Georges Aubert for the publisher Ambroise Vollard.
        </p>

    </div>
</div>