h3 {
    /* font-weight: 600 !important; */
    font-family: 'Quicksand',
    sans-serif !important;
}
p {
    font-family: 'Quicksand',
    sans-serif !important;
    z-index: 1;
}

.gallery-lg{
    position: relative !important;
}
  
.gallery-lg:after {
    content: "" !important;
    display: block !important;
    padding-bottom: 100% !important;
}

.gallery-lg img {
    position: absolute !important;
    height: 100% !important;
    object-fit: cover !important;
}

.footerColor {
    background-color: #e9ba9a;
    display: block;
}

.fontStyle{
    font-family: 'Open Sans',
    sans-serif;
}

.tan {
    background-color: #e9ba9a;
}

.accountBorder {
    outline-style: solid;
    outline-color: #595959;
}
.pad {
    padding: 10px !important;
}
.no-marg {
    margin: 0 !important;
}

.fs-xl {
    font-size: x-large !important;
}

.center-text {
    text-align: center !important;
}

.logoStyle {
    margin-bottom: 20px;
}

.topMargin {
    margin-top: 20px !important;
}

.marginText {
    margin-top: 10px !important;
}

.marginLogo {
    margin-top: 5px !important;
}

.sideMargin {
    margin-left: 10px;
}

.marginRight {
    margin-right: 70px !important;
    margin-left: 10px !important;
}

nav {
    background-color: white !important
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #e9ba9a !important;
    box-shadow: 0 1px 0 0 #e9ba9a !important;
}

@media screen and (max-width: 600px) {
    .topMargin {
        margin-top: 40px !important;
    }
}

.mobileMenu {
    font-size: 60px !important;
    line-height: 80px !important;
    margin: 0px 5px 0px 5px  !important;
}

@media screen and (max-width: 475px) {
    .size {
        max-width: 220px !important;
    }
    .marginText {
        margin-top: 20px !important;
    }
    .sideMargin {
        margin-left: 0px !important;
    }
}

.responsiv {
    position: relative;
    margin-top: 2%;
    margin-bottom: 3%;
}

.left-img {
    width: 70%;
    height: auto;
    margin-left: 5%;
}

.right-text {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 60%;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right-text h3 {
    margin: 0px;
}
.right-text p {
    margin-bottom: 0;
}
@media screen and (max-width: 800px) {
    
    .left-img {
        width: 90%;
    }
    .right-text {
        position: relative;
        left:auto;
        width: auto;
        margin: 3% 5%;
        box-shadow: none;
    }
}
.right-img {
    left:30%;
    width: 65%;
    height: auto;
}
.left-text {
    position: absolute;
    left: 10%;
    top: 30%;
    right: 30%;
    width: 70%;
    text-align: center;
    background-color: white;
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-text h3 {
    margin: 0px;
}
.left-text p {
    margin-bottom: 0;
}
@media screen and (max-width: 800px) {
    
    .right-img {
        width: 90%;
        left:0%;
        margin-left: 5%;
        margin-right: 0;
    }
    .left-text {
        position: relative;
        left:auto;
        right:auto;
        width: auto;
        margin: 3% 5%;
        box-shadow: none;

    }
}